In [1]:
import pandas as pd

def load_coin_data(filter_5y=False):
    DATA_FILE = '../../data/crypto-markets.csv'
    try:
        df = pd.read_csv(DATA_FILE)
    except FileNotFoundError:
        print("ERROR: data file not found")
        return None
    
    # convert date column from string to datetime
    df['date'] = pd.to_datetime(df['date'])

    return df

In [2]:
df = load_coin_data()

# Basic info of the dataset...

In [3]:
df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slug         942297 non-null  object
 1   symbol       942297 non-null  object
 2   name         942297 non-null  object
 3   date         942297 non-null  datetime64[ns]
 4   ranknow      942297 non-null  int64
 5   open         942297 non-null  float64
 6   high         942297 non-null  float64
 7   low          942297 non-null  float64
 8   close        942297 non-null  float64
 9   volume       942297 non-null  float64
 10  market       942297 non-null  float64
 11  close_ratio  942297 non-null  float64
 12  spread       942297 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 93.5+ MB

In [5]:
print(f"Number of coins: {len(df['slug'].unique())}")

Number of coins: 2071

# Analysis of end dates of each coin...

In [6]:
# check how many different end dates we have
df.loc[df.groupby('slug').date.idxmax()]['date'].unique()

<DatetimeArray>
['2018-11-29 00:00:00', '2018-11-30 00:00:00']
Length: 2, dtype: datetime64[ns]

In [7]:
# number of coins with end date of 2018-11-30
len(df[df['date'] == '2018-11-30'])

3

In [8]:
# number of coins with end date of 2018-11-29
len(df[df['date'] == '2018-11-29'])

2071

# Analysis of amount of data available for each coin

In [9]:
df.groupby('slug').size().sort_values(ascending=False)

slug
litecoin                           2042
namecoin                           2042
bitcoin                            2042
novacoin                           2041
peercoin                           2041
                                   ...
stacs                                 3
atlas-protocol                        2
blockchain-certified-data-token       2
bitnautic-token                       2
beat                                  2
Length: 2071, dtype: int64

In [10]:
max_days = df.groupby('slug').size().max()
max_years = max_days // 365

for i in range(1, max_years+1):
    days = i * 365
    tmp = df.groupby('slug').filter(lambda x: len(x) > days)
    num_coins = len(tmp['slug'].unique())
    print(f"Number of coins with {i}+ years of data: {num_coins} ({len(tmp)} entries)")

Number of coins with 1+ years of data: 871 (737557 entries)
Number of coins with 2+ years of data: 380 (496823 entries)
Number of coins with 3+ years of data: 245 (376395 entries)
Number of coins with 4+ years of data: 155 (261781 entries)
Number of coins with 5+ years of data: 27 (52753 entries)